header{
    background-color:#c2dfe3;
    color:white;
    text-align:center;
}

.aside-background {
    background-color: black;
    color: white;
}

body{
    font-family:sans-serif; 
}

.lists{
   background-color:#56667a;
}

.section{
    padding:10px;
    border:2px;
    margin:10px;
}
.image{
    text-align:center;
    border-radius:50%;
    
}


