header{
    background-color:#c2dfe3;
    color:black;
    text-align:center;
}

.aside-background {
    background-color: black;
    color: white;
}

body{
    font-family:sans-serif; 
}

.lists{
   border:px solid 
   padding:10px;
   border:1px solid black;
}

.section{
    padding:10px;
    border:2px;
    margin:10px;
}
.profile-image{
    border-radius:50%;
    
}

.image{
    text-align: center;
    padding:20px;
    margin:10px;

}

.test{
    background-color: #ced4da;
    padding: 20px;
    margin: px;
}

.intro{
    background-color: #9db4c0
    padding:10px;
    margin-bottom:20px;
}
  
.paragraphs{
    background-color: #8d99ae;
}

.contact{
    background-color: #adb5bd;
    padding:10px;
    color:white;
}

body{
    background-color: #white;
    border: 3px solid black;
}

header {
    background-image: url('https://images.pexels.com/photos/2824173/pexels-photo-2824173.jpeg'); /* Replace with your background image URL */
    background-color: #f0f0f0; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    height: 80vh; 
    color: black; 
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-image {
    border: 4px solid #fff;
    border-radius: 50%; 
    width: 10px; 
    height: 10px; 
    margin: 0 auto; 
}