header{
    background-color:#c2dfe3;
    color:white;
    text-align:center;
}

.aside-background {
    background-color: black;
    color: white;
}

body{
    font-family:sans-serif; 
}

.lists{
   border:1px solid 
   padding:10px;
   border:3px solid black;
   margin:10px
}

.section{
    padding:10px;
    border:2px;
    margin:10px;
}
.profile-image{
    border-radius:50%;
    
}

.image{
    text-align: center;
    background-color:#9db4c0;
    padding:20px;
    margin:10px;
    border: 3px solid black;

}

.test{
    background-color: #c2dfe3;
    padding: 20px;
    border: 3px solid black;
    margin: 10px;
    
}

.intro{
    background-color: #9db4c0;
    padding:10px;
    border: 3px solid black;
    margin:10px ;
}
  
.paragraphs{
    background-color: #61a5c2;
}

.contact{
    background-color: #1b4965;
    padding:10px;
    border: 3px solid grey;
    margin: 10px;
    color:white;
}

body{
    background-color: #c2dfe3;
}